<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="Ngunnawal.css">
    {% block pageStyle %}
    {% endblock %}
</head>
<body>


<!-- This is the navbar -->
<div class="navbar">
    <img src="/static/Design/Logo.png">
    <img src="/static/Design/Banner.png" class="center">
    <br>
<a href="Index.html">Home</a>
<a href="PhotoAlbum.html">Photo album</a>
<a href="contact.html">Contact us</a>
<a href="History.html">History</a>
    <input type="text" placeholder="Search...">
</div>


<div class="grid-container"> <!-- overall layout -->
    <div class="full-width">
        <h1>{{ title }}</h1>
    </div>
    <div class="main-content" class ="double-height"> <!-- "cell 1" -->
        {% block cellContent1 %} {% endblock %}
    </div>
    <div> <!-- "cell 2" -->
        {% block cellContent2 %} {% endblock %}
    </div>
    <div><!-- "cell 3" -->
        <p>
            {% block cellContent3 %} {% endblock %}
        </p>
    </div>
</div>





</body>
</html>