<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/Ngunnawal.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.bundle.js"></script>
    {% block pageStyle %}
    {% endblock %}
</head>
<body>


<!-- This is the navbar -->
<div class="navbar">
    <img src="/static/Design/Logo.png">
    <img src="/static/Design/Banner.png" class="center">
    <br>
    <a href="Index.html">Home</a>
    <a href="PhotoAlbum.html">Photo album</a>
    <a href="contact.html">Contact us</a>
    <a href="History.html">History</a>
    <a href="register">User Registration</a>
    {% if user.is_anonymous %}
        <a href="/login">LogIn</a>
    {% else %}
        <a href="/logout">LogOut</a>
    {% endif %}
    <input type="text" placeholder="Search...">
    <a href="/reset_password">Reset Password</a>
    <div style="color:white">{{ user.name }}</div>
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li><div class="focus">{{ message }}</div></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="grid-container"> <!-- Overall Layout -->

    <div class="full-width text-highlighting">
        <h1 style="text-align: center">{{ title }}</h1>
    </div>
    <div class="double-height">
        {% block cellContent1 %} {% endblock %}
    </div>
    <div>
        {% block cellContent2 %}
            Welcome {{ user.name }}!
        {% endblock %}
    </div>
    <div class="text-highlighting">
        {% block cellContent3 %} {% endblock %}
    </div>
</div>


</body>
</html>