<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/Ngunnawal.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.bundle.js"></script>
    {% block pageStyle %}
    {% endblock %}
</head>
<body>


<!-- This is the navbar -->
<div class="navbar">
    <img src="/static/Design/Logo.png">
    <img src="/static/Design/Banner.png" class="center">
    <br>
<a href="Index.html">Home</a>
<a href="PhotoAlbum.html">Photo album</a>
<a href="contact.html">Contact us</a>
<a href="History.html">History</a>
    <input type="text" placeholder="Search...">
</div>


<div class="grid-container"> <!-- Overall Layout -->
    <div class="full-width text-highlighting">
        <h1 style="text-align: center">{{ title }}</h1>
    </div>
    <div class="double-height">
        {% block cellContent1 %} {% endblock %}
    </div>
    <div>
        {% block cellContent2 %} {% endblock %}
    </div>
    <div class="text-highlighting">
        {% block cellContent3 %} {% endblock %}
    </div>
</div>





</body>
</html>